@model IEnumerable<RezzQueue.Models.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Breed.BreedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Species.SpeciesName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PetStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AnimalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalSize)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AnimalPrice)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.AnimalPreview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalPhoto)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AnimalDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyContact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Breed.BreedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Species.SpeciesName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PetStatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IconId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AnimalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalSize)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AnimalPrice)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.AnimalPreview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalPhoto)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AnimalDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyContact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnimalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnimalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnimalId })
        </td>
    </tr>
}

</table>
