@model RezzQueue.Models.CustomerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <h1>@Model.Customer.CustomerName</h1>


    @foreach (var i in Model.AllAnimals)
    {

        <h1>@Model.AllAnimals</h1>

    }
   
        

    @*@foreach (object i in Model.AllPetstatus)
    {

        <h1>@Model.AllPetstatus</h1>

    }*@



    @*<div class="form-group">
        @Html.LabelFor(model => model.SelectedAnimals, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.SelectedAnimals, Model.AllAnimals)
        </div>
       </div>*@

        @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PetStatusId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PetStatusId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerLocation)
                </dd>

            </dl>*@
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customer.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
