@model RezzQueue.Models.CustomerViewModel
@{
    ViewBag.Title = "Details";
}
<h4>@Model.Customer.CustomerName</h4>
<hr />
<dl class="dl-horizontal">

    @foreach (var item in Model.AllAnimals)
    {
        
        @Html.DisplayFor(modelItem => item.AnimalName)
        <img src="@Url.Content(item.AnimalPreview)" />
        @Html.DisplayFor(modelItem => item.AnimalLocation)
        @Html.DisplayFor(modelItem => item.Breed)
        @Html.DisplayFor(modelItem => item.AnimalDesc)
        @Html.DisplayFor(modelItem => item.AnimalAge)
   }

</dl>


<p>
        @Html.ActionLink("Back to List", "Index")
</p>
