@using PagedList;
@using PagedList.Mvc;
@*@model RezzQueue.Models.CustomerViewModel*@
@model PagedList.PagedList<RezzQueue.Models.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div id="AvailablePet" class="thumbnail">
                @if (ViewBag.Page > 1)
                {

                    <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })" rel="prev" id="NavLandButton" type="button" class="btn btn-default"><span id="LandButtonGlyph" class="glyphicon glyphicon-chevron-left"></span></a>
                }
                <button id="NavLandButton" type="button" class="btn btn-default"><span id="LandButtonGlyph" class="glyphicon glyphicon-remove"></span></button>
                <button id="NavLandButton" type="button" class="btn btn-default"><span id="LandButtonGlyph" class="glyphicon glyphicon-heart"></span></button>
                <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })" rel="next" id="NavLandButton" type="button" class="btn btn-default"><span id="LandButtonGlyph" class="glyphicon glyphicon-chevron-right"></span></a>
                <img src="@Url.Content(item.Animal.AnimalPreview)" />
                <div class="caption">
                    @Html.DisplayFor(modelItem => item.Animal.AnimalName)
                    <br />
                    @Html.ActionLink("Pet Bio", "Details", "Animals", new { id = item.Animal.AnimalId }, new { @class = "btn btn-primary btn-lg" })
                </div>
            </div>
        </div>
    </div>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Animal.AnimalId }) |
        @Html.ActionLink("Details", "Details", new { id = item.Animal.AnimalId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Animal.AnimalId })
    </td>

}