@model RezzQueue.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
<<<<<<< HEAD
    <h1>@Model.Customer.CustomerName</h1>


    @foreach (var i in Model.AllAnimals)
    {

        <h1>@Model.AllAnimals</h1>

    }
   
        

    @*@foreach (object i in Model.AllPetstatus)
    {

        <h1>@Model.AllPetstatus</h1>
=======
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetStatusId)
        </dt>
>>>>>>> 5be6d50d7680499e60810731ea611fa5763701eb

    }*@

<<<<<<< HEAD
=======
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
>>>>>>> 5be6d50d7680499e60810731ea611fa5763701eb


<<<<<<< HEAD
    @*<div class="form-group">
        @Html.LabelFor(model => model.SelectedAnimals, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.SelectedAnimals, Model.AllAnimals)
        </div>
       </div>*@

        @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PetStatusId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PetStatusId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>
=======
        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerLocation)
        </dt>
>>>>>>> 5be6d50d7680499e60810731ea611fa5763701eb

                <dd>
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>

<<<<<<< HEAD
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerLocation)
                </dd>

            </dl>*@
    </div>
=======
    </dl>
</div>
>>>>>>> 5be6d50d7680499e60810731ea611fa5763701eb
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
